priority -60

#########
# DATES #
#########
snippet date "DD.MM.YYYY" w
`!v strftime("%d.%m.%Y")`
endsnippet

snippet ddate "DD. Month, YYYY" w
`!v strftime("%d. %b, %Y")`
endsnippet

snippet diso "ISO format datetime" w
`!v strftime("%Y-%m-%d %H:%M:%S%z")`
endsnippet

snippet time "hh:mm" w
`!v strftime("%H:%M")`
endsnippet

snippet datetime "DD.MM.YYYY hh:mm" w
`!v strftime("%d.%m.%Y %H:%M")`
endsnippet
